<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
   

    </div>
  </div>
</nav>
<div class="container">

        <p><br/></p>
        <div class="row">
    
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                            <div class="page-header text-center">
                            <h3>Login</h3>
                        </div>
                        <div class="alert alert-danger alert-dismissible fade in notice-alert" style="<%= 'display:none' unless @invalid.present? %>"role="alert"> Invalid Username/password<button type="button" class="close" onclick="$(this).closest('.alert').hide()"><span aria-hidden="true">×</span></button> 
                          <span id="alert-message">
                            <%= @notice %>
                          </span>
                        </div>
                        <form role="form" action="./login" method="post">
                            <div class="form-group">
                                    <label for="exampleInputEmail1">USERNAME</label>
                                    <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    <input type="text" class="form-control LoNotSensitive" name="username" required placeholder="Enter email">
                                </div>
                            </div>
                            <input type="hidden" name="redirect_to" value="<%= @redirect_to %>"></input>
                            <div class="form-group">
                                    <label for="exampleInputPassword1">PASSWORD</label>
                                    <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
                                    <input type="password" class="form-control" name="password" required placeholder="Password">
                                </div>
                            </div>
                            <label class="radio-inline"><input type="radio" name="is_admin" value="admin" checked>Admin</label>
                            <label class="radio-inline"><input type="radio" name="is_admin" value="user">User</label>
                            
                            <hr/>
                            <button id="loginButton" type="submit" class="btn btn-primary "><span class="glyphicon glyphicon-lock"></span> Login</button>
                            <p><br/></p>
                        </form>
                        <div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">
                                            <span class="glyphicon glyphicon-time">
                                            </span>Please Wait
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-info
                                            progress-bar-striped active" style="width: 100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
