<%- model_class = Book -%>
<div class="page-header">
  <h1>Library</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:book_name) %></th>
      <th><%= model_class.human_attribute_name(:action) %></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <% disabled = book.user_books.where(:user_id=>@user.id).first.present? %>
    <% lent = disabled ? "lented" : "lent" %>
      <tr>
        <td><%= link_to book.id, book_path(book) %></td>
        <td><%= book.name %></td>
        <td>
        <% if book.status %>
          <%= link_to t('.lent', :default => lent),
                      book_lent_path(book), :class => 'btn btn-default btn-xs', :disabled => disabled %>
        <% else %>
        Not Available
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <% if @lent %>

<script type="text/javascript">
alert("book lented")
</script>

  <% end %>
