<!DOCTYPE html>
<html>
<head>
  <title>Website</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Book Portal</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right">
      <% if @user.is_admin %>
        <li class="<%= controller.class == UsersController ? 'active' : '' %>"><a href="/users">USERS</a></li>
        <li class="<%= controller.class == BooksController ? 'active' : '' %>"><a href="/books">BOOKS</a></li>
      <% else %>
        <li class="<%= controller.class == BooksController and controller.action_name == 'library' ? 'active' : '' %>"><a href="/library">LIBRARY</a></li>
        <li class="<%= controller.class == BooksController and controller.action_name == 'mybooks' ? 'active' : '' %>"><a href="/mybooks">MY BOOKS</a></li>
        <li><a href="/contact">CONTACT US</a></li>
      <% end %>
        <li><a href="/logout">LOGOUT</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<%= yield %>
  
</div>
</div>
</div>

</body>
</html>
